<p> This is your home page </p>

Things to include here:

<ul>
  <li> Revenue Metrics </li>
  <li> Plan Management </li>
  <li> Running list of current transactions </li>
</ul>

<p> Create a new plan <%= link_to 'plans', plans_path %> <p>
